name: HMCTS Management Information ADF Self Hosted Integration Runtime Image
trigger:
  - master

pool:
  vmImage: 'windows-2022'

parameters:
  - name: pushImage
    displayName: Push Docker Image To ACR
    type: boolean
    default: false

resources:
  repositories:
    - repository: mi-core
      type: github
      name: hmcts/mi-core-lib
      endpoint: hmcts
      ref: master

variables:
  projectName: 'mi'
  applicationName: 'adf-integration-runtime'
  azureSubscriptionEndpoint: 'DTS-SHAREDSERVICES-PROD'
  azureContainerRegistry: 'sdshmctspublic.azurecr.io'
  ${{ if eq(variables['Build.SourceBranchName'], 'master') }}: 
    deployTarget: prod
    fortifyTarget: stg
  ${{ if not(eq(variables['Build.SourceBranchName'], 'master')) }}: 
    deployTarget: dev
    fortifyTarget: dev
  azureSubscriptionName: 'DTS-SHAREDSERVICES'

stages:
  - template: pipeline-steps/templates/run-fortify-scan.yaml@mi-core
    parameters:
      azureSubscriptionEndpoint: "${{ variables.azureSubscriptionName }}-${{ upper(variables.fortifyTarget) }}"
      azureVault: "mi-vault-${{ variables.fortifyTarget }}"
      vaultAgentPool: "hmcts-ss-${{ variables.fortifyTarget }}"
      applicationName: "$(projectName)-$(applicationName)"
  - stage: BuildAndPush
    jobs:
      - job: BuildAndPush
        steps:
          - bash: |
              repo_sha=$(git rev-parse --verify HEAD)
              docker_image_tag_sha=${repo_sha:0:7}
              last_commit_time=$(git log -1 --pretty='%cd' --date=iso | tr -d '+[:space:]:-' | head -c 14)
              echo "##vso[task.setvariable variable=DOCKER_TAG;isOutput=true]${docker_image_tag_sha}-${last_commit_time}"
            displayName: 'Get Docker Tag'
            name: 'getDockerTag'
          - task: Docker@1
            displayName: 'Docker Login'
            inputs:
              azureSubscriptionEndpoint: $(azureSubscriptionEndpoint)
              azureContainerRegistry: $(azureContainerRegistry)
              command: login
          - task: Docker@1
            displayName: 'Build Docker Image'
            inputs:
              imageName: '$(azureContainerRegistry)/$(projectName)/$(applicationName):$(deployTarget)-$(getDockerTag.DOCKER_TAG)'
              command: build
              Dockerfile: ./Dockerfile
          - task: Docker@1
            condition: or(eq(variables['Build.SourceBranchName'], 'master'), eq(${{ parameters.pushImage }}, true))
            displayName: 'Push Docker Image'
            inputs:
              azureSubscriptionEndpoint: $(azureSubscriptionEndpoint)
              azureContainerRegistry: $(azureContainerRegistry)
              command: push
              imageName: '$(projectName)/$(applicationName):$(deployTarget)-$(getDockerTag.DOCKER_TAG)'
          - task: Docker@1
            displayName: 'Docker Logout'
            inputs:
              command: logout
